.search{
    position:absolute;
    background:white;
    left:35%;
    top:13%;
    padding:3.5rem;
    box-shadow: 10px 5px 15px ;
border-radius:20px;
z-index:9;
overflow: hidden;
}
.form_section{
    display:flex;
    flex-direction: column;

    
}
.search h2{
    color:#ff7779;
}
.search label,span{
    color:#ff7779;

}
 
 

.button{

    text-transform:inherit !important;
    background-color: #ff7779 !important;
    color:white !important;
    width:100% !important;
   z-index:2;

}
  .button:hover{
    background-color:white !important;
    color:#ff7779 !important;
    
}
@media(max-width:800px){
 .search{
left:3%;

 }
}