.header_icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}
.header_center {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: fit-content;
  height:30px;
  padding:10px;
  border: 3px solid lightgray;
  border-radius:999px;
}
.header_center > input {
    border:none;
    /* width:250px;
     */
      padding-left:3px;

     outline-width:0;
}
.header_right {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width:15vw;
  margin-right:80px;

}
